* {
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 0.75em;
}


/*main part*/

.shipping {
    padding: 80px 80px 80px 40px;
}

.shipping .information h3 {
    font-weight: 600;
    font-size: 3rem;
}

/*.shipping .information .authentication-form {*/
/*    padding-top: 2rem;*/
/*}*/
#checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.input-line{
    font-size: 1.6rem   ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

input[type=text], textarea, select{
    width: 100%;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}
input[type=text], select{
    height: 4rem;
}
textarea{
    padding: 10px;
}

input[type=text]::placeholder, textarea::placeholder{
    /*padding-top: 10px;*/
    font-size: 1.4rem;
    color: #b9b9b9;
}

.input-line label{
    font-size: 17px;
    margin-bottom: 0.5rem;
}

.order-title {
    display: flex;
}

.order-title h3 {
    flex-grow: 1;
    padding-top: 2rem;
}

.order-title .add-more {
    padding: 0px 12px 0px 8px;
    border-radius: 500px;
    background: rgb(238, 238, 238);
    width: fit-content;
    font-size: 1.4rem;
    line-height: 3.6rem;
}

.order .list-item {
    display: flex;
    justify-content: space-between;
}

.order .list-item .name {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}

.order .list-item .price {
    flex-grow: 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: black;
}

.input-quantity{
    margin-left: 40px;
    margin-top: 27px;
}

.quantity-checkout {
    width: 7rem;
    padding: 0px 12px 0px 20px;
    border-radius: 300px;
    font-weight: 500;
    font-size: 1.4rem;
    background: #EEEEEE;
    color: #000000;
}

.information hr {
    margin: 0 0 24px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    border: none;
}


.cart {
    padding: 80px 60px 80px 50px;
    background-color: rgb(246, 246, 246);
}

.cart .place-order {
    top: 24px;
    position: sticky;
}

.place-order-button {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: normal;
}

.place-order-button button {
    cursor: pointer;
    min-height: 56px;
    color: #fff;
    font-weight: 500;
    width: 100%;
    -webkit-box-align: center;
    text-align: center;
    border-width: 0;
    background: #e02c2b;
    -webkit-transition: all .5s;
    transition: all .5s;
}


.place-order hr, .order hr {
    margin: 16px 0;
    background-color: rgb(226, 226, 226);
    border: none;
    height: 1px;
}

.place-order .promo-text {
    padding: 8px 12px;
    color: #e02c2b;
    background-color: rgb(230, 242, 237);
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
}

.submit-text{
    font-weight: bold;
}

.place-order ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.place-order ul li, .total {
    color: black;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.total p{
    padding-top: 6px;
    font-size: 25px;
    font-weight: 600;
}

.total-price {
    font-weight: 600;
    font-size: 25px;
}

.promo-price {
    color: #e02c2b;
}
