/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');*/

:root{
    --color-greenLighter: #F7FFF7;
    --color-green: #66E9AE;
    --color-greenDarker: #85ff7f;
}

a {
    text-decoration: none !important;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
}

*::selection{
    background:#e02c2b;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding:1rem;
    color:#666;
}

.heading span{
    color:#e02c2b;
}

.btn{
    display: inline-block;
    border:.2rem solid #e02c2b;
    color:#e02c2b;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    padding: .8rem 3rem 3.3rem;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:#e02c2b;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width:100%;
    left: 0;
}

.btn:hover{
    color:#fff;
}


.home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background: url(../images/home-bg.jpg) no-repeat center;
}

.home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
}

.home .content span{
    color: #e02c2b;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
    padding:1rem;
    animation:float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}

.home .content h3{
    font-size: 5rem;
    color:#333;
}

.home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
}

/*.speciality .box-container .box .image{*/
/*  height:100%;*/
/*  width:100%;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top:-100%; left:0;*/
/*}*/

.speciality .box-container .box .content{
    text-align: center;
    background:#fff;
    padding:2rem;
    height: 100%;
}

.speciality .box-container .box .content img{
    margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.speciality .box-container .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
}

/*.speciality .box-container .box:hover .image{*/
/*  top:0;*/
/*}*/

/*.speciality .box-container .box:hover .content{*/
/*  transform: translateY(100%);*/
/*}*/

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.popular .box-container .box{
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    flex:1 1 30rem;
    position: relative;
}

.popular .box-container .box img{
    height:25rem;
    object-fit: cover;
    width:100%;
    border-radius: .5rem;
}

.popular .box-container .box .price{
    position: absolute;
    top:3rem; left:3rem;
    background:#e02c2b;
    color:#fff;
    font-size: 2rem;
    padding:.5rem 1rem;
    border-radius: .5rem;
}

.popular .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.popular .box-container .box .stars i{
    color:#e02c2b;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.steps{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem;
}

.steps .box{
    flex:1 1 25rem;
    padding:1rem;
    text-align: center;
}

.steps .box img{
    border-radius: 50%;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box p{
    font-size: 2rem;
    color:#333;
    padding:1rem;
}


.containerG {
    width: 100%;
    display: grid;
    grid-template: "1fr 1fr 1fr 1fr 1fr"250px
                    "1fr 1fr 1fr 1fr 1fr"250px
                    "1fr 1fr 1fr 1fr 1fr"250px;
    grid-auto-flow: dense;
    grid-gap: 2px;
}

.boxG {
    position: relative;
    background: #ccc;
}
.boxG img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a{
    grid-row: span 2;
}
.b, .f, .h, .j{
    grid-column: span 2;
}
@media (max-width: 991px) {
    .containerG {
        grid-template: "1fr 1fr 1fr"250px
                        "1fr 1fr 1fr"250px
                        "1fr 1fr 1fr "250px
                        "1fr 1fr 1fr "250px
                        "1fr 1fr 1fr "250px;
    }
}
@media (max-width: 768px) {
    .containerG {
        grid-template: "1fr 1fr"200px
                        "1fr 1fr"200px
                        "1fr 1fr"200px
                        "1fr 1fr"200px
                        "1fr 1fr"200px
                        "1fr 1fr"200px
                        "1fr 1fr"200px;
    }
    .h{
        grid-column: span 1;
    }
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    text-align: center;
    padding:2rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    background:#333;
    margin-top: 6rem;
}

.review .box-container .box img{
    height: 12rem;
    width:12rem;
    border-radius: 50%;
    border:1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.review .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:.5rem 0;
}

.review .box-container .box .stars i{
    font-size: 2rem;
    color:#e02c2b;
    padding:.5rem 0;
}

.review .box-container .box p{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
}

.footer{
    background:#000;
    text-align: center;
}

.footer .share{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .credit{
    padding:2.5rem 1rem;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
}


/* media queries  */

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:2rem!important;
    }

    section{
        padding:2rem;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }
}
/* Blog */

.blog{
    margin-bottom: 90px;
}
.blog-img {
    overflow: hidden;
}

.blog-img img {
    cursor: pointer;
    transition: 2s;
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.blog-img:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.blog-img:hover img {
    transform: scale(1.5);
    transition: 1.5s;
}

.blog-content a {
    text-decoration: none;
    color: black;
}

.blog-content h2 {
    padding-top: 5px;
    font-size: 2rem!important;
}
.blog-content p{
    font-size: 1.5rem;
}
